/node_modules
/cover
/coverage.json
/examples/jasmine/cover.json
/examples/jasmine/cover.txt
/examples/jasmine/cover
/cover.txt
/cover.json
/report.html
/report.json
/report.txt
/examples/jsunity/cover.json
/examples/jsunity/cover.txt
/examples/jsunity/cover
/examples/dojo/cover.txt
/examples/dojo/cover
/examples/dojo/cover.json
/examples/basic/cover.txt
/examples/basic/cover
/examples/basic/cover.json
/examples/pavlov/cover.txt
/examples/pavlov/cover
/examples/pavlov/cover.json
/examples/qunit/cover.txt
/examples/qunit/cover
/examples/qunit/cover.json
/examples/dojo/testSubfolder/cover.json
